
:root {
    --primary-color: #00819E;
    --secondary-color: #5171F1;
    --general-text-color: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 500;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */
header {
    background: #fff;
    text-align: center;
    position: relative;
    padding: 20px;
    z-index: 999;
    width: 100%;
    border-bottom: 5px solid var(--primary-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* allow it to gain focus, making it tabbable */
.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

    .nav-toggle:focus ~ .nav-toggle-label {
        outline: 3px solid rgba(lightblue, .75);
    }

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 1em;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        background: rgba(3, 71, 127, 0.8);
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }

        .nav-toggle-label span::before,
        .nav-toggle-label span::after {
            content: '';
            position: absolute;
        }

        .nav-toggle-label span::before {
            bottom: 7px;
        }

        .nav-toggle-label span::after {
            top: 7px;
        }

nav {
    position: absolute;
    text-align: right;
    padding: 20px;
    top: 100%;
    left: 0;
    background: var(--primary-color);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    nav li {
    }

    nav a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }

    nav .btn {
        padding: 0;
    }

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

    .nav-toggle:checked ~ nav a {
        opacity: 1;
        transition: opacity 250ms ease-in-out 250ms;
    }

/*Showcase*/
.showcase {
    height: 50vh;
    position: relative;
}

    .showcase .flex {
        text-align: center;
    }

    .showcase h1 {
        font-size: 70px;
    }

    .showcase h2 {
        font-size: 30px;
    }

    .showcase p {
        font-size: 30px;
    }

/*Featured Brands*/
.featured-brands {
    background-color: var(--primary-color);
    height: auto;
}

.featured-brands-text h1 {
    font-size: 50px;
    color: #fff;
    text-align: center;
}

.featured-brands .flex {
    flex-wrap: wrap;
}

.featured-brands .card-img {
    height: 200px;
    width: 200px;
    background-color: gray;
}

.featured-brands .container {
    padding: 40px;
}

/*Top Selling*/
.top-selling {
    background-color: var(--primary-color);
    height: auto;
}

.top-selling-text h1 {
    font-size: 50px;
    color: #fff;
    text-align: center;
}

.top-selling .flex {
    flex-wrap: wrap;
}

.top-selling .card-img {
    height: 200px;
    width: 200px;
    background-color: gray;
}

.top-selling .container {
    padding: 40px;
}

/* Footer */
.footer h2 {
    color: var(--primary-color);
}

.footer .grid {
    margin-top: 40px;
    grid-gap: 40px;
    align-items: baseline;
}

.footer-logo {
    margin: auto;
}

    .footer-logo p {
        text-align: center;
    }

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.footer a {
    transition: all ease 0.3s;
}

    .footer a:hover {
        color: var(--primary-color);
    }

.socials a {
    padding: 10px;
    transition: all 0.2s ease;
}

    .socials a:hover {
        color: var(--primary-color);
    }

.copyright {
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
}

    .copyright p {
        margin: 5px;
    }

/* if screen is greater than 1138px, show full sized nav and page */
@media screen and (min-width: 1138px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: flex;
        position: relative;
        justify-content: space-between;
        border-bottom: 5px solid var(--primary-color);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }

        header .flex {
            padding: 15px;
            justify-content: space-between;
        }

    .img-link {
        width: 30%;
    }

    nav {
        all: unset;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

        nav ul {
            display: flex;
        }

        nav li {
            display: flex;
            align-items: center;
        }

        nav a {
            opacity: 1;
            color: var(--general-text-color);
            margin-left: 15px;
            text-transform: capitalize;
        }

        nav .btn {
            border-radius: 10px;
            padding: 5px 15px;
        }
}

@media (max-width: 687px) {
    .footer .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

/* Utilities */
.container {
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    height: 100%;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all ease 0.3s;
}

.btn-view-more {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    transform: scale(0.95);
}

.text-center {
    text-align: center;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    color: #333;
}



.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
    stroke: #fff;
    fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
}

.resp-sharing-button--twitter {
    background-color: #55acee
}

    .resp-sharing-button--twitter:hover {
        background-color: #2795e9
    }

.resp-sharing-button--pinterest {
    background-color: #bd081c
}

    .resp-sharing-button--pinterest:hover {
        background-color: #8c0615
    }

.resp-sharing-button--facebook {
    background-color: #3b5998
}

    .resp-sharing-button--facebook:hover {
        background-color: #2d4373
    }

.resp-sharing-button--tumblr {
    background-color: #35465C
}

    .resp-sharing-button--tumblr:hover {
        background-color: #222d3c
    }

.resp-sharing-button--reddit {
    background-color: #5f99cf
}

    .resp-sharing-button--reddit:hover {
        background-color: #3a80c1
    }

.resp-sharing-button--google {
    background-color: #dd4b39
}

    .resp-sharing-button--google:hover {
        background-color: #c23321
    }

.resp-sharing-button--linkedin {
    background-color: #0077b5
}

    .resp-sharing-button--linkedin:hover {
        background-color: #046293
    }

.resp-sharing-button--email {
    background-color: #777
}

    .resp-sharing-button--email:hover {
        background-color: #5e5e5e
    }

.resp-sharing-button--xing {
    background-color: #1a7576
}

    .resp-sharing-button--xing:hover {
        background-color: #114c4c
    }

.resp-sharing-button--whatsapp {
    background-color: #25D366
}

    .resp-sharing-button--whatsapp:hover {
        background-color: #1da851
    }

.resp-sharing-button--hackernews {
    background-color: #FF6600
}

    .resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {
        background-color: #FB6200
    }

.resp-sharing-button--vk {
    background-color: #507299
}

    .resp-sharing-button--vk:hover {
        background-color: #43648c
    }

.resp-sharing-button--facebook {
    background-color: #3b5998;
    border-color: #3b5998;
}

    .resp-sharing-button--facebook:hover,
    .resp-sharing-button--facebook:active {
        background-color: #2d4373;
        border-color: #2d4373;
    }

.resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
}

    .resp-sharing-button--twitter:hover,
    .resp-sharing-button--twitter:active {
        background-color: #2795e9;
        border-color: #2795e9;
    }

.resp-sharing-button--email {
    background-color: #777777;
    border-color: #777777;
}

    .resp-sharing-button--email:hover,
    .resp-sharing-button--email:active {
        background-color: #5e5e5e;
        border-color: #5e5e5e;
    }

