@inherits LayoutComponentBase

<div class="page">




    <div class="nav-menu">
        <ShopNavMenu />
    </div>

    <div>
        @Body
        <ShopFooter />
    </div>
</div>
<BlazoredToasts />
